<mat-toolbar>
  <button 
    mat-icon-button
    aria-label='nav-menu'
    class='nav-button'
    (click)='drawer.toggle()'> 
      <mat-icon>list</mat-icon>
    </button>

    <span>Stacklunch</span>
    <span class='spacer'></span>

    <button 
    *ngIf='authenticated'
    aria-label='logout' 
    class='logout-button'
    mat-raised-button
    (click)='logout()'>Logout</button>
</mat-toolbar>

<mat-sidenav-container fullScrean>      
  <mat-sidenav #drawer [style.width]="navWidth" class='sidebar'>
    <div *ngFor='let route of routes'>
      <div class='nav-link' [style.padding]='navLinkPadding'>
        <a [routerLink]='route.route' class='nav-link' (click)='drawer.toggle()'>
          {{ route.name }}
        </a>  
      </div>
    </div>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
