
<mat-accordion [multi]='false'>
    <mat-expansion-panel *ngFor="let order of orders" >
        
        <mat-expansion-panel-header>
            <ng-template #timeWindow>
                {{ order.windowStart | date: 'h:mm' }} - {{ order.windowEnd | date: 'h:mm a' }}
            </ng-template>
            <div *ngIf='showDate; else timeWindow'>
                {{ order.windowStart | date: 'MMM d' }}
            </div>
            <p class="customer">{{ order.customer.name }}</p>
        </mat-expansion-panel-header>

        <p> {{ order.windowStart | date: 'h:mm' }} - {{ order.windowEnd | date: 'h:mm a' }} </p>
        <mat-list *ngFor="let item of order.items">
            <mat-list-item>
                <span class="item-quantity">{{item.quantity}}</span>
                <span class="item-name">{{item.name}}</span>
            </mat-list-item>
        </mat-list>

        <button mat-raised-button 
        color='primary' 
        class='changeButton' 
        *ngIf='hasButton' 
        (click)='onButtonClick(order)'>
            {{ buttonText }}
        </button>
    </mat-expansion-panel>

</mat-accordion>
