<div *ngIf="restaurant != null">
    <div class='edit-dash' id='edit-buttons' aria-label='edit-buttons'>
        <button mat-fab color='primary' (click)='isEditOpen = true' *ngIf='!isEditOpen; else editButtonDashboard'>
            <mat-icon>edit</mat-icon>
        </button>

        
        <ng-template #editButtonDashboard>
            <button mat-mini-fab color='warn' (click)='cancelEdits()'>
                <mat-icon>undo</mat-icon>
            </button>
            <button mat-mini-fab color='accent' (click)='saveChanges()' [disabled]='!service.editsMade'>
                <mat-icon>save</mat-icon>
            </button>
            <button mat-mini-fab color='primary' (click)='openEditor(createFoodDialog)'>
                <mat-icon>add</mat-icon>
            </button>
        </ng-template>

    </div>

    <ng-template #createFoodDialog>
        <app-food-dialog (cancel)='closeEditor()'></app-food-dialog>
    </ng-template>

    <ng-template #locationEditDialog>
        <app-location-dialog [name]='restaurant.name' [location]='restaurant.location' (cancel)='closeEditor()'></app-location-dialog>
    </ng-template>

    <mat-card class='restaurant-card'>
        <mat-card-header class='restaurant-header'>
            
            <button mat-mini-fab 
            class='restaurant-edit-button'
            color='primary' 
            (click)='openEditor(locationEditDialog)' 
            *ngIf='isEditOpen'>
                <mat-icon>edit</mat-icon>
            </button>
            <mat-card-title>{{ restaurant.name }}</mat-card-title>
            <mat-card-subtitle>
                <p>{{restaurant.location.unit}} {{restaurant.location.street}}<p>
                <p>{{restaurant.location.city}}, {{restaurant.location.state}} {{restaurant.location.zipCode}}<p>
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <h2>Menu</h2>

            <div *ngFor='let item of restaurant.foods' class='menu'>
                <mat-card class='food-card' [style.width]='menuItemWidth'>
                    
                    <mat-card-header>
                        <mat-card-title>{{item.name}}</mat-card-title>
                        <mat-card-subtitle>{{item.price | currency}}</mat-card-subtitle>
                        
                        <div class='card-button'>
                            <button mat-mini-fab 
                            class='food-edit-button'
                            color="primary" 
                            (click)="openEditor(foodEditDialog)" 
                            *ngIf='isEditOpen'>
                                <mat-icon>edit</mat-icon>
                            </button>
    
                        </div>
                    </mat-card-header>

                    <mat-card-content>
                        <br/>
                        <p>{{item.description}}</p>
                    </mat-card-content>

                    <ng-template #foodEditDialog>
                        <app-food-dialog [foodItem]='item' (cancel)='closeEditor()'></app-food-dialog>
                    </ng-template>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
        
</div>